:root {
    /*fonts*/
    --main-font: "Roboto";
    --secondary-font: 'Raleway';
    /*text colors*/
    --main-txt-cl: #212121;
    --secondary-txt-cl: #757575;
    --acent-txt-cl: #2196F3;
    /*bg colors*/

    --light-bg-cl: #F5F4FA;
    --dark-bg-cl: #2F303A;
    /*others*/
    --items-in-filtr:3;
    --ident:30px
}

img {
    display: block;
}

body {
    font-family: var(--main-font);

    color: var(--main-txt-cl);
}

.link {
    text-decoration: none;
    color: currentColor;
}

.list {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
}

/* base styles*/
.btn {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    cursor: pointer;
    font-family: inherit;
    background-color: #F5F4FA;
    border-radius: 4px;
    border: none;
    padding: 6px 12px;


    transition-property: color,background-color,box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) ;

}

.btn:hover,
.btn:focus {
    color: #FFFFFF;
    background-color: var(--acent-txt-cl);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
     0px 1px 2px rgba(0, 0, 0, 0.08), 
     0px 2px 2px rgba(0, 0, 0, 0.12);
}


.conteiner {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}



/* модальное окно */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1) ;

}
.backdrop.is-hidden{
    visibility: hidden;
    opacity: 0;
    pointer-events: none;

}
.backdrop.is-hidden .modal{
      transform: translate(-50%,-50%) scale(0.8) rotate(1turn);
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    height: 581px;
    width: 528px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
     0px 1px 1px rgba(0, 0, 0, 0.14), 
     0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: #FFFFFF;

   
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1)  ; 
    transform: translate(-50%,-50%) scale(1) rotate(0);
}


.modal-btn{
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

/************************************
Header section
*/

.logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: #2196F3;
}

.logo-black {
    color: #000000;
}

.logo-white {
    color: #FFFFFF;
}
.logo-position {
    margin-right: 93px;
}

.header-conteiner {
    display: flex;
    align-items: center;

}

.header-nav {
    margin-right: auto;
}

.header-list {
    display: flex;
    gap: 50px;

}

.header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #ECECEC;
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: #212121;
     transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) ;
    
}

.header-link:hover,
.header-link:focus {
    color: #2196F3;
}

.header-link-current {
    
    position: relative;
    color: var(--acent-txt-cl);
    padding-bottom: 27px;
}
.header-link-current::after{

    content: "";
    position: absolute;
    left: 0;
    bottom:0;
    width: 100%;
    height: 4px;
    background-color: #2196F3;
    border-radius: 2px;
  

}



/* Контакты в хедере */


.contact-list {
    display: flex;
    gap: 50px;
   
}

.header-contact {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--secondary-txt-cl);
     transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) ;
    
}
.header-contact-icon{
    fill: #757575;
    margin-right: 10px;
     transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) ;
    
    
}
.header-contact:hover .header-contact-icon,
.header-contact:focus .header-contact-icon{
    fill:#2196F3 ;
}

.header-contact:hover,
.header-contact:focus {
    color: #2196F3;
}


/* section baner */

.baner {
    max-width: 1600 px;
    background-color: var(--dark-bg-cl);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url(../images/working_people.jpg);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 600px;
}

.baner-slogan {
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF
}

.baner-slogan {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    ;
    width: 696px;
}

.baner-button-position {
    margin-left: 500px;
    margin-right: 500px;

}

.baner-button {
    font-size: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    cursor: pointer;
    color: #FFFFFF;
    background-color: var(--acent-txt-cl);
    border-radius: 4px;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) ;
    

}

.baner-button:hover,
.baner-button:focus {
    background-color: #188CE8
}

.baner-button-txt {
    padding-top: 10px;
    padding-bottom: 10px;
}


/* преймущества секция */
.benefits {
    padding-top: 94px;
    padding-bottom: 94px;
}

.benefits-blocks {
    width: 270px;
}

.benefits-list {
    display: flex;
    gap: 30px;

}

.benefits-lst-itm-slogan {
    margin-bottom: 10px;
}

.benefits-lst-itm-slogan {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-txt-cl);
}

.benefits-lst-itm-text {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--secondary-txt-cl)
}

.benefits-thumb{
    display: flex;
    background-color: #F5F4FA;
    height: 120px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

/* Чем мы занимаемся секия */
.about {
    padding-bottom: 94px;
}

.about-slogan {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    text-align: center;
}

.about-list {
    display: flex;
    gap: 30px;
    padding-bottom: 94px;
}
.about-photo{
    position: relative;
}
.about-title{
    position: absolute;
    display: flex;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    justify-content: center;
    align-items: center;
    background-color: rgba(47, 48, 58, 0.8);
    color: #FFFFFF;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
}
/* 
наша команда секция */
.team {
    background-color: var(--light-bg-cl);
    padding-bottom: 94px;
    
}

.team-slogan {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;
    padding-top: 94px;
    margin-bottom: 50px;
}

.team-list {
    display: flex;
    gap: 30px;
    text-align: center;
}

.team-wraper {
    border: #FFFFFF 1px;
    border-top: none background-color: #FFFFFF;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 5px;
    padding-right: 5px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;

}

.team-member{
    background-color: #FFFFFF;;
}

.team-member-name {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    letter-spacing: 0.03em;
    color: #212121
}

.team-member-name {
    margin-bottom: 10px;
}

.team-member-prof {
    line-height: calc(19 / 16);
    letter-spacing: 0.03em;
    color: #757575;
    margin-bottom: 16px
}
.social-media-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
/* социальные сети иконки */

.social-link{
   display: flex;
   align-items:center ;
   justify-content: center; 
   width: 44px;
   height: 44px;
   background-color: #FFFFFF;
   border-radius: 50%;
   
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) ;
    
}
.social-link:hover,
.social-link:focus{
    fill:#2196F3;
}

   .socials-icon{
    fill: #AFB1B8;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) ;
    
   }
  .social-link:hover .socials-icon,
  .social-link:focus .socials-icon{
    background-color:#2196F3;
    fill: #FFFFFF;
  }
/* 
  социальные сети иконки */


  /* Клиенты секция */

.clients-slogan {
font-weight: 700;
font-size: 36px;
line-height:calc(42/36);
text-align: center;
letter-spacing: 0.03em;
margin-bottom: 50px;
}
.clients{
padding-top: 94px;
padding-bottom: 94px;
}
.clients-list{
    display: flex;
    justify-content:center; 
    gap: 30px;
}
.client-item {
   display: flex;
    height: 92px;
    width: 170px;
    align-items: center;
border: 1px solid #AFB1B8;
transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) ;
    
} 
.client-item:hover,
.client-item:focus{
    border: 1px solid #2196F3;
}                           
.client-icon{
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) ;
    
fill: #AFB1B8;
}
.client-item:hover .client-icon,
.client-item:focus .client-icon{
    fill: #2196F3;
}

/* кнопки фильтр портфолио */

.portfolio-filtr {
    padding-top: 94px;
    padding-bottom: 94px
}

.button-position {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}
/* карточка в портфолио фото и оверфлоу*/
.filter-conteiner {
    display: block;
    background: #FFFFFF;
    /* border: 1px solid #EEEEEE; */
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;


}

.filter-conteiner {
    display: block;
    flex-basis: calc((100% - var(--ident)-*var(--items-in-filtr)) / 3);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) ;
}
.filter-conteiner:focus .overlay-filter,
.filter-conteiner:hover .overlay-filter {
transform: translateY(0);

}
.filter-conteiner:hover{
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.filter-thumb{
    position: relative;
    overflow: hidden;
}


.overlay-filter{
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);


    display: flex;
    align-items: center;
    justify-content: center;

   width: 100%;
    height: 100%;


    background-color: rgba(33, 150, 243, 0.9);;

    transition: transform 250ms;
}
.overlay-txt{
    color: #FFFFFF;
    font-weight: 400;
font-size: 18px;
line-height:calc(28/18);
letter-spacing: 0.03em;
text-align: center;
}


/* карточка в портфолио заголовок */
.portfolio-item-wraper {
    border:  1px solid #FFFFFF;
    border-top: none;
    background-color: #FFFFFF;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;

}

.project-item {
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
    color: var(--main-txt-cl)
}

.project-item {
    margin-bottom: 4px;
}

.project-type {
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.03em;
    color: var(--secondary-txt-cl);
}

/* Футер */


.footer-conteiner{
    display: flex;
}
.footer-cont {
    display: flex;
    align-items: baseline;
}
.footer-conteiner-right{
    margin-left: 70px;
}
.social-media-footer{
    display: flex;
    gap: 10px;
}
.footer {
    background-color: var(--dark-bg-cl);
    padding-top: 60px;
    padding-bottom: 60px;
    
}
.footer-social-slogan{
font-weight: 700;
font-size: 14px;
line-height:calc(16/14);
letter-spacing: 0.03em;
color: #FFFFFF;
margin-bottom: 20px;
}
.footer-list{
    display: flex;
    gap: 70px;
}

.footer-logo {

    margin-bottom: 20px;
}

.logo-fotter-main {
    display: block;
    margin-bottom: 20px;
}

.footer-adress-list {
    display: block;
    margin-bottom: 9px;
}

.footer-socials-icon{
fill:  #FFFFFF;;
}

.footer-social-link{
display: flex;
   align-items:center ;
   justify-content: center; 
   width: 44px;
   height: 44px;
   background-color: rgba(255, 255, 255, 0.1);
   border-radius: 50%;
   
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) ;
}
.footer-social-link:hover,
.footer-social-link:focus{
    background-color: #2196F3;
}
.footer-contact {
    color: rgba(255, 255, 255, 0.6);
     transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) ;
}
.footer-contact:hover,
.footer-contact:focus {
    color: #2196F3;
}
.address {
    font-style: normal;
}

.link-map {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;
}